IndentWidth: 4
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: true

AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
