[submodule "dependencies/cmsis-device-h7rs"]
	path = dependencies/cmsis-device-h7rs
	url = https://github.com/STMicroelectronics/cmsis-device-h7rs
[submodule "dependencies/CMSIS_6"]
	path = dependencies/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
